 
<div class="container">
   
  <!-- about section -->

  <!-- experience section -->

  <section class="experience_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="row">
       
        <div class="col-md-7">
          <div class="detail-box card">
            <div class="heading_container ">
              <h2>
                About Me
              </h2>
            </div>
            <p>
            
              Hey there! I'm Sana, a passionate web developer with a quirky journey. I took a rather scenic route to get here – I pressed 'pause' on my education for about 15 years before diving back into the world of tech. And guess what? I nailed it!
              
              Now, I blend my love for creative problem-solving with the latest technologies like Typo3, WordPress, Spring Boot, and Angular. By day, I’m part of an awesome company team, and by night, I moonlight as a freelancer, helping clients bring their digital dreams to life.
              
              My story is proof that it's never too late to chase your dreams. Whether you’re looking to build an amazing website or just need some tech inspiration, I'm here to help.
              
              Let's create something extraordinary together – because who says you can't have fun while making magic happen on the web?
            </p>
            <div class="btn-box">
            
              <a href="/contact">
                Hire
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-box">
            <img src="../../assets/images/abouttrans.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end experience section -->

  

  
   
  </div>