.about {
    $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
    $transition: 0.6s $cubic;
    $size: 40px;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
 
    .bg_links {
       width: $size;
       height: $size;
       border-radius: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgba(#000000, 0.2);
       border-radius: 100%;
       backdrop-filter: blur(5px);
       position: absolute;
    }
 
    .logo {
       width: $size;
       height: $size;
       z-index: 9;
       background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
       background-size: 50%;
       background-repeat: no-repeat;
       background-position: 10px 7px;
       opacity: 0.9;
       transition: all 1s 0.2s ease;
       bottom: 0;
       right: 0;
    }
 
    .social {
       opacity: 0;
       right: 0;
       bottom: 0;
 
       .icon {
          width: 100%;
          height: 100%;
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          display: flex;
          transition: all 0.2s ease, background-color 0.4s ease;
          opacity: 0;
          border-radius: 100%;
       }
 
       &.portfolio {
          transition: all 0.8s ease;
 
          .icon {
             background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
          }
       }
 
       &.dribbble {
          transition: all 0.3s ease;
          .icon {
             background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
          }
       }
 
       &.linkedin {
          transition: all 0.8s ease;
          .icon {
             background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
          }
       }
    }
 
    &:hover {
       width: 105px;
       height: 105px;
       transition: all $transition;
 
       .logo {
          opacity: 1;
          transition: all 0.6s ease;
       }
 
       .social {
          opacity: 1;
 
          .icon {
             opacity: 0.9;
          }
 
          &:hover {
             background-size: 28px;
             .icon {
                background-size: 65%;
                opacity: 1;
             }
          }
 
          &.portfolio {
             right: 0;
             bottom: calc(100% - 40px);
             transition: all 0.3s 0s $cubic;
             .icon {
                &:hover {
                   background-color: #698fb7;
                }
             }
          }
 
          &.dribbble {
             bottom: 45%;
             right: 45%;
             transition: all 0.3s 0.15s $cubic;
             .icon {
                &:hover {
                   background-color: #ea4c89;
                }
             }
          }
 
          &.linkedin {
             bottom: 0;
             right: calc(100% - 40px);
             transition: all 0.3s 0.25s $cubic;
             .icon {
                &:hover {
                   background-color: #0077b5;
                }
             }
          }
       }
    }
 }
 
 
 @import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
 
 $font-01: "Raleway", sans-serif;
 
 $gradient-02: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
 $gradient-01: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
 
 $m-01: #9197ae;
 $m-02: #637498;
 
 @mixin sm {
    @media screen and (max-width: 799px) {
       @content;
    }
 }
 
 * {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #1791C8;
    box-sizing: border-box;
 
    &:focus {
       outline: 0;
    }
 }
 

 .mainNav {
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $m-01;
    text-transform: uppercase;
    padding: 0 40px;
    @include sm {
       padding: 0 20px;
    }
 
    &__logo {
       font-weight: 800;
       letter-spacing: 1px;
       font-size: 18px;
    }
 
    &__links {
       display: flex;
       @include sm {
          display: none;
       }
    }
 
    &__link {
       letter-spacing: 1px;
       font-size: 20px;
       margin-left: 20px;
       font-weight: 600;
       box-shadow: inset 0px -10px 0px rgba(white, 0.5);
       transition: all 0.4s ease, transform 0.2s ease;
       padding: 2px 4px;
       transform: translateY(0px); 
       
       &:hover {
         transform: translateY(-5px);
         box-shadow: inset 0px -30px 0px #a4a4a483; 
    
       }
    }
 
    &__icon {
       background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
       width: 32px;
       height: 32px;
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center;
       display: none;
 
       @include sm {
          display: block;
       }
    }
 }
 