<!-- footer section -->
<footer class="container-fluid footer_section_first blank">
    <div class="container">
       
      <div class="column">
        <img src="../../../../assets/backtranslogo.png" height="200px" weight="200px" />
    </div>
    <div class="column">
        <h5>Useful Links</h5>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="category.html">Category</a></li>
        </ul>
      </div>
      <div class="column">
        <h5>Offices</h5>
        <p>Readable content of a page when looking at its layout readable content of a page when looking at its layout</p>
      </div>
      <div class="column">
        <h5>Information</h5>
        <p>Readable content of a page when looking at its layout readable content of a page when looking at its layout</p>
      </div>
    </div>
  
  

  </footer>
  <!-- end footer section -->
  
  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayDate"></span> All Rights Reserved By
        <a href="#">Sana Houcine</a>
      </p>
    </div>
  </footer>
  <!-- end  footer section -->